/* BASIC STYLE */

html {
  font-family: sans-serif;
}

body {
  padding: 0;
  margin: 0;
  color: white;
  background-color: black;
}

h1 {
  text-align: center;
  font-size: 3em;
  margin: 0em;
  margin-top: 1em;
  margin-bottom: 1em;
}

footer {
  min-height: 8em;
  margin-bottom: 2em;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.logo-link {
  width: 3em;
  margin: 0em 1em;
}

.logo-link-container {
  display: flex;
  flex-direction: row;
}

/* Identifiers */

#your-name {
  margin-top: 5em;
}

#your-title {
  text-align: center;
  font-size: 150%;
  font-weight: 200;
  padding: 0em;
  margin-top: 1em;
  margin-bottom: 1em;
}

#portfolio-link {
  text-align: center;
  color: white;
  font-size: 250%;
  font-weight: 200;
  opacity: 0.5;
}

#portfolio-link:hover {
  opacity: 1;
}

#contact-me {
  margin-top: 2em;
  margin-bottom: 0;
}

/* DIVS */

div.center {
  margin: auto;
  max-width: 40em;
}

div.page {
  padding: 1em;
}

div.first-page {
  height: 100vh;
  /* retain height */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  /* centers portfolio link */
  text-align: center;

  /* center background */
  background: url(../start_background_bw.jpg) no-repeat center bottom;
  /* fixed */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.contact-box {
  margin-bottom: 5em;
}

.fl {
  float: left;
}

.project-info {
  padding: 0 1em;
}

/* PORTFOLIO GRID */

.wrapper {
  display: grid;
  grid-gap: 1em;
  /* grid-auto-columns: minmax(450px, auto); */
  grid-template-columns: repeat(auto-fit, 800px );

  color: #444;
  margin: auto;
  padding: 0em 0em;
  justify-content: center;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 0px;
  font-size: 120%;
  /* max-width: 100vw; */
  display: flex;
}

@media screen and ( max-width: 800px) {
   .box {
     flex-direction: column;
     }

    .wrapper {
  grid-template-columns: repeat(auto-fit, 400px);
  grid-row-gap: 2em;
    }
   }

.flex-col {
  display: flex;
  flex-direction: column;
}

.project-image {
  width: 400px;
  height: 400px;
}

.project-image-panel {
  width: 400px;
  height: 400px;
}

.project-title {
  font-size: 180%;
  font-family: monospace;
  margin: 0em;
  text-align: center;
}

.project-info {
  min-width: 400px;
  padding: 1em;
  width: 100%;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;               /* enable flex items to wrap */
  float: left;

  font-size: 0.9em;
}

.project-bottom {
  display: flex;
  margin-top: auto;
  flex-direction: row;
  justify-content: center;
  padding-top: 1em;
}

hr {
  width:100%;
  text-align: left;
  margin-left: 0em;
  margin: 0.5em 0em;
}

/* FORMS */

form {
  margin-top: 0;
  margin-bottom: 2em;
  padding: 0;
  text-align: center;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical
    /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: white;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: silver;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.w3-btn {
  margin: 0em 1em;
}
